<!-- Tell the form the route -->
<form action="/"  method="POST" >
  <input type="hidden" value="{{module._id}}" name="moduleId"/>
      <fieldset>
      <legend>Try a new Module!</legend>
    <!-- first name -->
      <div class="form-group">
        <label for="module-firstname">First Name</label><br>
        <input class="form-control" id="module-firstname" type="text" name="name" value="{{module.firstname}}"/>
      </div>
    <!-- last name -->
      <div class="form-group">
        <label for="module-lastname">Last Name</label><br>
        <input class="form-control" id="module-lastname" type="text" name="name" value="{{module.lastname}}"/>
      </div>
    <!-- city -->
    <div class="form-group">
      <label for="module-lastname">City</label><br>
      <input class="form-control" id="module-city" type="text" name="name" value="{{module.city}}"/>
    </div>
    <!-- phone number -->
    <div class="form-group">
      <label for="module-phonenumber">Phone Number</label><br>
      <input class="form-control" id="module-phonenumber" type="text" name="name" value="{{module.phonenumber}}"/>
    </div>
    <!-- rate -->
    <div class="form-group">
      <label for="module-hourlyrate">Hourly Rate</label><br>
      <input class="form-control" id="module-hourlyrate" type="text" name="name" value="{{module.hourlyrate}}"/>
    </div>
    </fieldset>
</form>